.common__wrapper {
  @include section-width;
  @include paddings;
  @include centers;
}
.common__title {
  @include main-title;
}
//sertif-russian section
.common--russian {
  .common__wrapper {
    @media #{$max-mobile-width} {
      padding-top: 70px;
      padding-bottom: 28px;
    }
    @media #{$min-tablet-width} {
      padding-top: 70px;
      padding-bottom: 28px;
    }
    @media #{$min-desktop-width} {
      padding-top: 100px;
      padding-bottom: 40px;
    }
  }
  .sertif {
    @media #{$max-mobile-width} {
      margin-top: 44px;
    }
    @media #{$min-tablet-width} {
      margin-top: 44px;
    }
    @media #{$min-desktop-width} {
      margin-top: 63px;
    }
  }
}
//sertif-korean section
.common--korean {
  .common__wrapper {
    position: relative;
    @media #{$max-mobile-width} {
      padding-top: 21px;
      padding-bottom: 28px;
    }
    @media #{$min-tablet-width} {
      padding-top: 21px;
      padding-bottom: 28px;
    }
    @media #{$min-desktop-width} {
      padding-top: 30px;
      padding-bottom: 40px;
    }
    &::before {
      position: absolute;
      content: "";
      z-index: 2;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../../image/sertif-logo.jpg");
      @media #{$max-mobile-width} {
        left: 10px;
        top: 159px;
        width: 88px;
        height: 75px;
      }
      @media #{$min-tablet-width} {
        left: -6px;
        top: 119px;
        width: 88px;
        height: 75px;
      }
      @media #{$min-desktop-width} {
        left: -8px;
        top: 170px;
        width: 126px;
        height: 108px;
      }
    }
  }
  .sertif {
    position: relative;
    z-index: 3;
    @media #{$max-mobile-width} {
      margin-top: 44px;
    }
    @media #{$min-tablet-width} {
      margin-top: 44px;
    }
    @media #{$min-desktop-width} {
      margin-top: 63px;
    }
  }
}