.main-nav {
  @media #{$max-mobile-width} {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: $bg--main;
    &.active {
      display: block;
    }
  }
  a,
  a:visited,
  a:active {
    color: $color--main;
  }
}
.main-nav__sublist {
  display: none;
}
.main-nav__list {
  font-weight: 500;
  @media #{$max-mobile-width} {
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media #{$min-tablet-width} {
    padding-left: 0;
    font-size: 10px;
    line-height: 21px;
  }
  @media #{$min-desktop-width} {
    font-size: 12px;
    line-height: 24px;
  }
  li {
    cursor: pointer;
    text-transform: uppercase;
  }
}
.main-nav__item {
  position: relative;
  @media #{$max-mobile-width} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media #{$min-tablet-width} {
    display: inline-block;
    padding-right: 30px;
  }
  @media #{$min-desktop-width} {
    padding-right: 43px;
  }
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../image/nav-expand.png");
    @media #{$min-tablet-width} {
      right: 18px;
      width: 7px;
      height: 3px;
    }
    @media #{$min-desktop-width} {
      right: 25px;
      width: 10px;
      height: 4px;
    }
  }
  &:hover,
  &.clicked {
    &::after {
      transform: translateY(-3px) scaleY(-1);
    }
    .main-nav__sublist {
      display: block;
      padding: 20px;
      width: 250px;
      @media #{$min-tablet-width} {
        position: absolute;
        left: 0;
        top: 100%;
      }
    }
  }
}
.main-nav__item--link {
  &::after {
    display: none;
  }
}
.main-nav__subitem {
  margin-top: 10px;
}