.director__wrapper {
  @include section-width;
  @include paddings;
  @include centers;
  display: flex;
  position: relative;
  @media #{$max-mobile-width} {
    flex-direction: column;
    padding-top: 63px;
    padding-bottom: 60px;
  }
  @media #{$min-tablet-width} {
    padding-top: 63px;
    align-items: flex-end;
  }
  @media #{$min-desktop-width} {
    padding-top: 90px;
  }
  &::before {
    position: absolute;
    z-index: 3;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../image/director-leaf.png");
    @media #{$max-mobile-width} {
      display: none;
    }
    @media #{$min-tablet-width} {
      right: 63px;
      top: 84px;
      width: 38px;
      height: 55px;
      display: none;
    }
    @media #{$min-desktop-width} {
      display: block;
      right: 90px;
      top: 120px;
      width: 54px;
      height: 79px;
    }
  }
}
.director__title {
  @include main-title;
  @media #{$max-mobile-width} {
    text-align: center;
    margin-top: 20px;
  }
  @media #{$min-tablet-width} {
    text-align: left;
  }
}
.director__description {
  font-family: $font--alt;
  display: block;
  @media #{$max-mobile-width} {
    font-size: 17px;
    line-height: 25px;
    margin-top: 7px;
  }
  @media #{$min-tablet-width} {
    font-size: 17px;
    line-height: 25px;
    margin-top: 7px;
  }
  @media #{$min-desktop-width} {
    font-size: 24px;
    line-height: 36px;
    margin-top: 10px;
  }
}
.director__form-container {
  flex-grow: 1;
  flex-shrink: 0;
  @media #{$max-mobile-width} {
    max-width: $max-mobile-wrapper;
    @include centers;
  }
  @media #{$min-tablet-width} {
    padding-bottom: 94px;
    width: 315px;
  }
  @media #{$min-desktop-width} {
    padding-bottom: 135px;
    width: 450px;
  }
}
.director__form {
  @media #{$max-mobile-width} {
    max-width: 248px;
    @include centers;
  }
  @media #{$min-tablet-width} {
    max-width: 248px;
  }
  @media #{$min-desktop-width} {
    max-width: 354px;
  }
}
.director__label {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  @media #{$max-mobile-width} {
    font-size: 12px;
    padding-left: 20px;
    margin-top: 32px;
  }
  @media #{$min-tablet-width} {
    font-size: 10px;
    padding-left: 14px;
    margin-top: 22px;
  }
  @media #{$min-desktop-width} {
    font-size: 12px;
    padding-left: 20px;
    margin-top: 32px;
  }
}
.director__input {
  width: 100%;
  @media #{$max-mobile-width} {
    margin-top: 5px;
    padding-left: 17px;
    padding-right: 17px;
  }
  @media #{$min-tablet-width} {
    margin-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
  }
  @media #{$min-desktop-width} {
    margin-top: 5px;
    padding-left: 17px;
    padding-right: 17px;
  }
}
.director__input {
  @include main-input;
  font-family: $font--main;
}
.director__input::placeholder {
  color: rgba(26, 45, 70, .4);
}
.director__submit {
  @include main-btn;
  width: 100% !important;
  @media #{$max-mobile-width} {
    margin-top: 22px;
  }
  @media #{$min-tablet-width} {
    margin-top: 22px;
  }
  @media #{$min-desktop-width} {
    margin-top: 31px;
  }
}
.director__confid {
  display: block;
  text-align: center;
  @media #{$max-mobile-width} {
    margin-top: 15px;
  }
  @media #{$min-tablet-width} {
    margin-top: 15px;
  }
  @media #{$min-desktop-width} {
    margin-top: 22px;
  }
}
.director__confid-link {
  text-decoration: underline;
}
.director__img-container {
  order: -1;
  font-size: 0;
  position: relative;
  @media #{$max-mobile-width} {
    max-width: 240px;
    @include centers;
  }
  @media #{$min-tablet-width} {
    width: 531px;
  }
  @media #{$min-desktop-width} {
    width: 759px;
  }
}
.director__name-container {
  position: absolute;
  font-family: $font--alt;
  @media #{$max-mobile-width} {
    top: 0;
    left: -70px;
  }
  @media #{$min-tablet-width} {
    top: 126px;
    left: 28px;
  }
  @media #{$min-desktop-width} {
    top: 180px;
    left: 40px;
  }
  &::before {
    position: absolute;
    content: "";
    left: -20px;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87feff+0,32a5ee+100 */
    background: #87feff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #87feff 0%, #32a5ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #87feff 0%,#32a5ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #87feff 0%,#32a5ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87feff', endColorstr='#32a5ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  &::after {
    position: absolute;
    content: "";
    width: 81px;
    height: 75px;
    bottom: -90px;
    left: -7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../image/director-line.png");
  }
}
.director__name {
  display: block;
  font-weight: 400;
  @media #{$max-mobile-width} {
    font-size: 12px;
    line-height: 17px;
  }
  @media #{$min-tablet-width} {
    font-size: 12px;
    line-height: 17px;
  }
  @media #{$min-desktop-width} {
    font-size: 18px;
    line-height: 24px;
  }
}
.director__job {
  display: block;
  font-weight: 700;
  @media #{$max-mobile-width} {
    font-size: 12px;
    line-height: 17px;
  }
  @media #{$min-tablet-width} {
    font-size: 12px;
    line-height: 17px;
  }
  @media #{$min-desktop-width} {
    font-size: 16px;
    line-height: 24px;
  }
}