.feedback__wrapper {
  @include section-width;
  @include paddings;
  @include centers;
  position: relative;
  @media #{$max-mobile-width} {
    padding-top: 52px;
    padding-bottom: 66px;
  }
  @media #{$min-tablet-width} {
    padding-top: 52px;
    padding-bottom: 66px;
  }
  @media #{$min-desktop-width} {
    padding-top: 75px;
    padding-bottom: 95px;
  }
  &::after {
    @media #{$max-mobile-width} {
      display: none;
    }
    @media #{$min-tablet-width} {
      display: none;
    }
    @media #{$min-desktop-width} {
      display: block;
      position: absolute;
      content: "";
      right: -380px;
      top: -245px;
      width: 461px;
      height: 563px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../../image/feedback-drwater.png");
    }
  }
}
.feedback__title {
  @include main-title;
  @include centers;
  @media #{$max-mobile-width} {
    max-width: $max-mobile-wrapper;
  }
  @media #{$min-tablet-width} {
    max-width: 602px;
  }
  @media #{$min-desktop-width} {
    max-width: 860px;
  }
}
.feedback__slide {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  @media #{$max-mobile-width} {
    margin-top: 30px;
  }
  @media #{$min-tablet-width} {
    padding-top: 28px;
    padding-left: 21px;
    padding-right: 21px;
  }
  @media #{$min-desktop-width} {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.feedback__author-container {
  position: relative;
  flex-shrink: 0;
  @media #{$max-mobile-width} {
    width: 148px !important;
    margin-right: 31px;
  }
  @media #{$min-tablet-width} {
    width: 148px;
    margin-right: 31px;
  }
  @media #{$min-desktop-width} {
    width: 212px;
    margin-right: 45px;
  }
  &::after {
    position: absolute;
    z-index: 2;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../image/quotes.png");
    @media #{$max-mobile-width} {
      right: -13px;
      top: -24px;
      width: 46px;
      height: 38px;
    }
    @media #{$min-tablet-width} {
      right: -13px;
      top: -24px;
      width: 46px;
      height: 38px;
    }
    @media #{$min-desktop-width} {
      right: -19px;
      top: -34px;
      width: 66px;
      height: 54px;
    }
  }
}
.feedback__author-img-container {
  border-radius: 10px;
  overflow: hidden;
}
.feedback__author-img {
  position: relative;
  z-index: 3;
}
.feedback__author-name {
  font-family: $font--alt;
  font-weight: 300;
  @media #{$max-mobile-width} {
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
  }
  @media #{$min-tablet-width} {
    font-size: 11px;
    line-height: 17px;
    margin-top: 14px;
  }
  @media #{$min-desktop-width} {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }
}
.feedback__author-job {
  font-family: $font--alt;
  font-weight: 600;
  display: block;
  @media #{$max-mobile-width} {
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
  }
  @media #{$min-tablet-width} {
    font-size: 10px;
    line-height: 13px;
    margin-top: 2px;
  }
  @media #{$min-desktop-width} {
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
  }
}
.feedback__text-container {
  flex-grow: 1;
}
.feedback__slide-title {
  font-weight: 600;
  font-family: $font--alt;
  margin-top: 0;
  margin-bottom: 0;
  @media #{$max-mobile-width} {
    font-size: 20px;
    line-height: 26px;
  }
  @media #{$min-tablet-width} {
    font-size: 17px;
    line-height: 21px;
  }
  @media #{$min-desktop-width} {
    font-size: 24px;
    line-height: 30px;
  }
}
.feedback__quote {
  margin-left: 0;
  font-weight: 300;
  @media #{$max-mobile-width} {
    font-size: 14px;
    line-height: 21px;
  }
  @media #{$min-tablet-width} {
    font-size: 12px;
    line-height: 18px;
  }
  @media #{$min-desktop-width} {
    font-size: 16px;
    line-height: 24px;
  }
}
.feedback__expand-btn {
  display: inline-block;
  margin-top: 15px;
  border: 0 solid transparent;
  background-color: transparent;
  color: $color--alt2;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
}
.feedback {
  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    height: 0;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-40px);
  }
  .owl-prev,
  .owl-next {
    font-size: 0 !important;
    @include slider-arrow;
    border-radius: 50% !important;
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 7px 17px !important;
  }
  .owl-prev {
    background-image: url("../../image/arrow-slider--left.png") !important;
    transform: translateX(-20px);
  }
  .owl-next {
    background-image: url("../../image/arrow-slider--right.png") !important;
    transform: translateX(20px);
  }
}
.feedback__btns-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  @media #{$max-mobile-width} {
    flex-direction: column;
    align-items: center;
  }
}
.feedback__btn-buy {
  @include main-btn;
  @media #{$min-tablet-width} {
    margin-right: 13px;
  }
}
.feedback__btn-feedback {
  @include alt-btn;
  @media #{$max-mobile-width} {
    margin-top: 20px;
  }
  @media #{$min-tablet-width} {
    margin-left: 13px;
  }
}