.othervid__wrapper {
  @include section-width;
  @include centers;
  @include paddings;
  @media #{$max-mobile-width} {
    padding-top: 70px;
    padding-bottom: 35px;
  }
  @media #{$min-tablet-width} {
    padding-top: 70px;
    padding-bottom: 35px;
  }
  @media #{$min-desktop-width} {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  position: relative;
  z-index: 5;
  &::before,
  &::after {
    @media #{$max-mobile-width} {
      display: none;
    }
    @media #{$min-tablet-width} {
      display: none;
    }
    @media #{$min-desktop-width} {
      display: block;
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &::before {
    left: -105px;
    top: -40px;
    width: 76px;
    height: 77px;
    background-image: url("../../image/othervid-leaf.png");
  }
  &::after {
    right: -570px;
    bottom: -195px;
    width: 427px;
    height: 485px;
    background-image: url("../../image/othervid-molecula.jpg");
  }
}
.othervid__title {
  @include main-title;
  @include centers;
  @media #{$max-mobile-width} {
    max-width: $max-mobile-wrapper;
  }
  @media #{$min-tablet-width} {
    max-width: 580px;
  }
}
.othervid__btn-buy {
  display: block;
  position: relative;
  z-index: 3;
  @include main-btn;
  @include centers;
  @media #{$max-mobile-width} {
    margin-top: 0px;
  }
  @media #{$min-tablet-width} {
    margin-top: 28px;
  }
  @media #{$min-desktop-width} {
    margin-top: 40px;
  }
}