.videotest {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-image: url("../../image/videotest-bg.svg");
  position: relative;
  z-index: 1;
  margin-top: -470px;
}
.videotest__wrapper {
  @include section-width;
  @include paddings;
  @include centers;
  position: relative;
  padding-top: 404px;
  padding-bottom: 90px;
  &::before,
  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &::before {
    width: 812px;
    height: 425px;
    bottom: 170px;
    left: -450px;
    background-image: url("../../image/testvideo-tests.png");
  }
  &::after {
    width: 436px;
    height: 633px;
    top: -132px;
    right: -460px;
    background-image: url("../../image/testvideo-bottle.png");
  }
}
.videotest__title {
  @include main-title;
}
.videotest__description {
  display: block;
  font-family: $font--alt;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  @include centers;
  margin-top: 28px;
}
.videotest__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-top: 70px;
}
.videotest__video-container {
  width: 40%;
  flex-grow: 1;
  margin-right: 30px;
  background-color: orange;
  border-radius: 8px;
  position: relative;
  font-size: 0;
}
.videotest__play-btn {
  @include play-btn;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-39px, -39px);
}
.videotest__list-container {
  width: 40%;
  flex-grow: 1;
  border-radius: 8px;
  background-color: $bg--main;
  padding: 32px 20px 30px 32px;
}
.videotest__list-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font--alt;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}
.videotest__list {
  padding-left: 0;
  font-size: 16px;
  height: 240px;
  overflow-y: scroll;
}
.videotest__item {
  cursor: pointer;
  display: flex;
  margin-top: 20px;
  &:hover {
    .videotest__link {
      font-weight: 400;
      color: $color--alt2;
    }
    .videotest__time-text {
      background-color: #dbf5fc;
    }
  }
}
.videotest__time {
  width: 60px;
  color: $color-link;
  font-weight: 500;
}
.videotest__link {
  flex-grow: 1;
  &:hover {
    font-weight: 400;
    color: $color--alt2;
  }
}
.videotest__btn-buy {
  display: block;
  position: relative;
  z-index: 3;
  @include main-btn;
  width: 305px;
  @include centers;
  margin-top: 62px;
}